.contacts-navbar {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.contacts-body {
    display: flex;
    justify-content: space-evenly;
}

.contacts {
    width: 50%;
    padding: 20px;
}

.canvas {
    width: 50%;
    padding: 20px;
}

.canvas-title-default {
    margin: 10px 0;
}